@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@if(ViewBag.test.Count == 0)
{
  <h2>There are no engineers yet, please add an engineer first!</h2>
  <p>@Html.ActionLink("Add an engineer", "Create", "Engineers")</p>
}
else
{
  <h2>Add an engineer</h2>

  <h4>Add a engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.MachineId)

      @Html.Label("Select an engineer")
      @Html.DropDownList("EngineerId")

      <input type="submit" value="Save" />
  }
}

<p>@Html.ActionLink("Back to list", "Index")</p>